.fa-prescription {
  padding: 12px;
}

.fa-clock-rotate-left {
  padding: 11px;
}

.fa-book-medical {
  padding: 12px;
}

.add-form {
  padding-right: 20px;
}

.add-form input {
  width: 100%;
}

#department-filter {
  width: 100%;
  border: none;
  border-right: 18px solid transparent;
  border-left: 1px solid black;
}

.register-input-user {
  border: 1px solid black;
  border-radius: 5px;
}
